@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    background-color: #383955;
    font-family: "Comfortaa", sans-serif;
}
.title{
    font-size: 40px;
    margin-top: 20px;
}
.divider {
    width: 7%; 
    height: 1px; 
    background-color: #D2E400; 
    border: none; 
    margin-bottom: 1rem; 
    opacity: 0.7;
  }